body {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: rgba(161, 161, 161, 0.281);

}

/* nav bar */
.nav-bar {
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: #3A3A3A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    border-bottom: 3px solid red;
    transition: .3s;
    animation: ease;
}

/*  --------------------------------------------------------+++++++++++------------------------                              */
/* section 1 */

.container-1 {
    padding-top: 2%;
    width: 100%;
    /* justify-content: center; */
}

.section-1 {
    display: flex;
    flex-direction: row;

}

.half-width-para {
    padding-left: 15%;

}

.half-width {
    width: 70%;
    padding-top: 5%;

}

.half-width img {
    width: auto;

}

.half-width img:hover {
    transform: scale(1) rotate(360deg);
    transition: transform 2s ease-in-out;
}

.half-width-para h1 {
    font-size: 52px;
    color: #3A3A3A;
}

.half-width p {
    font-size: 16px;
    color: #3A3A3A;

}

.anchor-prebook {
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 19px 10px 19px;
    border-radius: 30px;
}

section {

    padding-bottom: 100px;
}

/* courses-style */
/* ================== */

.container-2 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.all-detail {
    display: flex;
    flex-direction: column;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 30px;
}

.product {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}

.product .product-banner img {
    width: 300px;
    height: 256px;
    padding-top: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-name h3 {
    font-size: 28px;
}

.all-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-star.filled {
    color: gold;
}

.fa-star.empty {
    color: rgba(177, 177, 177, 0.486);
}

.fa-star {
    font-size: 12px;
}

.rating {
    padding-left: 15px;
    padding-right: 15px;
}

.second-anchor {
    text-decoration: none;
    color: rgb(255, 71, 132);
    border-radius: 30px;
    text-align: right;
}



/* last-part */
.container-3 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.final {
    display: flex;
    flex-direction: row;
    padding-left: 15%;

}

.last-part img {
    width: 90%;
    border-radius: 10px;

}


.last-part h1 {
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
    width: 50%;
}

.last-part p {
    font-size: 16px;
    color: #3A3A3A;
    width: 70%;
}


footer {
    background-color: #0A0826;
}

.footer {
    color: white;
    text-align: center;
    font-size: 24px;
}

.footer p {
    font-size: 14px;
}

.fa-instagram .icon {
    color: #22203b;
}








/* ---------------------------------------
------------------------------------------ */
@media only screen and (max-width:688px) {
    .container-1 {
        width: 100%;
    }

    .section-1 {
        display: block;
    }

    .container-2 {
        width: 100%;
    }


    .products {
        grid-template-columns: repeat(1, 1fr);
        display: block;
    }

    .final {
        display: block;
    }


}

/* =================== */
@media screen and (min-width:688px) and (max-width:988px) {
    .container-1 {
        width: 100%;
    }

    .section-1 {
        display: block;
    }

    .container-2 {
        width: 100%;
    }


    .products {
        grid-template-columns: repeat(2, 1fr);

    }

    .final {
        display: block;
    }


}